.vscode/**
.vscode-test/**
src/**
node_modules/**
tsconfig.json
tsconfig.tsbuildinfo
.gitignore
yarn.lock
package-lock.json
dic/
.github/**
.gitattributes
.nvmrc
.editorconfig
.husky/**
SECURITY.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
docs/
*.log
*.vsix
git-scribe-ai-*